[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = always

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none
